@charset "utf-8";

$padding: 12px;
$dark: #323232;
$lighterdark: #898989;
$tablet: 769px;

@media screen and (max-width: $tablet) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

body {
  font-weight: 300;
}

.drop-top-forty {
  margin-top: 40px;
}

.has-padding {
  padding-top: $padding;
  padding-bottom: $padding;
}

.main-navbar {
  border-bottom: 1px solid black;
  padding-top: $padding;
  padding-bottom: $padding;
  background-color: $dark;
  color: white;

  a {
    color: white;
  }

  .navbar-menu, .navbar-dropdown, .navbar-link:hover, a:hover {
    background-color: $dark;
  }

  .navbar-divider {
    background-color: $lighterdark;
    height: 1px;
  }

  .navbar-dropdown {
    border-top: 1px solid $lighterdark;
  }
}

.buck-sunset {
  background-image: url("../imgs/buck-grass-sunset-full.jpg");
  background-size: cover;
  min-height: 700px;
  background-position: center;
  border-bottom: 1px solid $lighterdark;

  @media screen and (max-width: $tablet) {
    background-image: url("../imgs/buck-grass-sunset-small.jpg");
  }
}

.grazing-bulls {
  background-image: url("../imgs/grazing-bulls-full.jpg");
  background-size: cover;
  min-height: 700px;
  background-position: center;
  border-bottom: 1px solid $lighterdark;

  @media screen and (max-width: $tablet) {
    background-image: url("../imgs/grazing-bulls-small.jpg");
  }
}